@font-face {
    font-family: "CustomFont";
    src: url("fonts/Roboto-Bold.ttf");
}
*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.mainContent{
    color: 	#FFEA00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
.childContetn{

}
#mainTitle{
    font-size: clamp(1rem, 3vh + 2vw, 12rem);
    font-family: "CustomFont";
}
input{
    border-radius: 4px;
}
#mButton{
    color: black;
    border-radius: 2px;
    padding: 2.8%;
    background-color: #FFEA00;
    color: black;
    font-family: "CustomFont";
    font-size: clamp(1rem, 0.4vh + 0.5vw, 3rem);
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}