@font-face {
    font-family: "CustomFont";
    src: url("fonts/Roboto-Bold.ttf");
}
*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.mainContent{
    color: 	#FFEA00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
#test{
    display: flex;
    flex-direction: column-reverse;
}
#mainTitle{
    font-size: clamp(1rem, 3vh + 2vw, 12rem);
    font-family: "CustomFont";
}
input{
    border-radius: 4px;
}
#mButton{
    padding: 2.2%;
    background-color: #FFEA00;
    color: black;
    font-family: "CustomFont";
    font-size: clamp(1rem, 0.4vh + 0.5vw, 3rem);
    border-radius: 20px;
    width: 40%;
}
.searchBar{
    height: 5vh;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 60px;
}
label{
    text-align: left;
    font-size: clamp(0.7rem, 1vh + 1.4vw, 7rem);;
}